[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = David Liu
	email = daichungus@noreply.codeberg.org
[commit]
	gpgsign = true
[pull]
	rebase = true
[diff]
	algorithm = histogram
	context = 10
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
[receive]
	fsckObjects = true
[merge]
	conflictstyle = zdiff3
[core]
	filemode = false
	autocrlf = false
